.heder-nav {
	background: none;
	border: none;
	.header-menu-1 {
		margin-top: 15px;
		li a {
			color: $additional_color;
			text-transform: uppercase;
			&:hover, &:focus {
				color: $accent_color;
				background: none;
				text-decoration: none;
			}
		}
		.active {border-bottom: 5px solid $accent_color;}
	}
}