$primary_font: "Open Sans", sans-serif;
$secondary_font: "Playfair Display", sans-serif;
$primary_font_color:  #ffffff;
$secondary_font_color: #ffffff;
$additional_color: #111111;
$accent_color: #e8bf5d;
$fa-font-path: "libs/font-awesome/fonts";
@import "fonts";